doc/ProgrammingGuide/ProgrammingGuide.pdf

lib/jacorb.jar
lib/idl.jar
lib/jacorb-services.jar
lib/jacorb-sources.jar

src/org/jacorb/idl/parser.java
src/org/jacorb/idl/sym.java

classes/org
test/regression/classes

src/generated/org
test/regression/src/generated/*

test/regression/output/TEST-*

demo/*/build
test/interop/*/build
