bin/jaco
bin/jaco.bat
bin/idl
bin/idl.bat
bin/dior
bin/version
bin/ns-wrapper
bin/ntfy-wrapper

lib/jacorb.jar
lib/idl.jar
lib/jacorb-services.jar
lib/jacorb-sources.jar

src/org/jacorb/idl/parser.java
src/org/jacorb/idl/sym.java

classes/org
test/regression/classes
src/generated/org
test/regression/output/TEST-*
test/regression/src/generated/*

demo/*/build
test/interop/*/build
