branches:
  only: 
    - master

sudo: false

language: java
jdk:
   - oraclejdk7

cache:
   directories:
     - '$HOME/.m2/repository'

install: /bin/true
script: mvn -Dtravis-ci=true -DskipJavadoc=true -DskipPDFGeneration clean install
