grinder.script=consumer.py
grinder.jvm.classpath=@JACORB_CP@
grinder.jvm.arguments=-Dorg.omg.CORBA.ORBClass=org.jacorb.orb.ORB -Dorg.omg.CORBA.ORBSingletonClass=org.jacorb.orb.ORBSingleton -Djacorb.home=@JACORB_HOME@
grinder.processes=10